name = "TermStructureModels"
uuid = "7e9258e2-c4b0-4fc1-89eb-9ad7f6b40598"
authors = ["Preference <econ.preference@gmail.com> and contributors"]
version = "0.3.0"

[deps]
BlackBoxOptim = "a134a8b2-14d6-55f6-9291-3336d3ab0209"
Conda = "8f4d0f93-b110-5947-807f-2305c1781a2d"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
ProgressMeter = "92933f4c-e287-5a05-a399-4b506db050ca"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Roots = "f2b01f46-fcfa-551c-844a-d8ac1e96c665"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
BlackBoxOptim = "0.6"
Conda = "1"
Distributions = "0.25"
Documenter = "0.27, 1"
ProgressMeter = "1"
Roots = "2"
SpecialFunctions = "2"
Statistics = "1"
StatsBase = "0.33, 0.34"
julia = "1.7, 1.8, 1.9, 1.10"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
